# Python cache and byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging / local envs
.venv/
venv/
env/
ENV/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Local configuration & Secrets
.env
.env.*
secrets.json
*.key

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
.DS_Store
